.welcome-page {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    overflow: auto;
    gap: 40px;
    position: relative;
    padding: 5%;
  
    .theme-toggle-wrapper {
      position: absolute;
      top: 24px;
      right: 24px;
    }
  
    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 28px;
      width: 100%;
      margin: 40px 0;
  
      h1 {
        font-size: 10rem;
        line-height: 110%;
        font-weight: 400;
        font-size: 7.25rem;
        letter-spacing: -0.21875rem;
        margin: 0;
        transition: 0.4s;
  
        span {
          background: var(--gemini-font-color);
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
        }
      }
  
      .small-h1 {
        font-size: 2.8rem;
        letter-spacing: -0.12rem;
        transition: 0.4s;
      }
  
      h3 {
        margin: 0;
        font-size: 1.375rem;
        font-weight: 200;
      }
    }
  
    .buttons-container {
      display: flex;
      align-items: center;
      gap: 18px;
    }
  
    .start-button {
      background-color: var(--button-background);
      padding: 18px 24px;
      border-radius: 99em;
      font-size: 16px;
      width: fit-content;
      border: 1px solid transparent;
      cursor: pointer;
      transition: 0.2s;
  
      &.secondary {
        border: var(--light-border);
        color: var(--text-color);
        background-color: var(--transparent-bg);
        &:hover {
            filter: brightness(90%);
            transition: 0.2s;
          }
      }
    }
  
    .disclaimer {
      font-size: 12px;
      position: absolute;
      bottom: 18px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .welcome-page {
      .heading {
        h1 {
          font-size: 4rem;
        }
  
        h3 {
          font-size: 1rem;
        }
      }
  
      .auth-container {
        width: 100%;
        padding: 8%;
        .input-container, .proxy-toggle {
          width: 100%;
        }
        .buttons-container {
          flex-direction: column;
        }
      }
    }
  }
  