.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 5%;
    background-color: #1A1C1E;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}