.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 5%;
    background-color: var(--setup-background);
    border-bottom: var(--light-border);
    transition: 0.2s;

    .header-buttons {
        display: flex;
        align-items: center;
        gap: 18px;
        .github-icon, .clear-icon {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        .header-buttons{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        span {
            display: none;
        }
    }
}