.auth-container {
    position: relative;
    padding: 80px;
    border-radius: 16px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    background: var(--setup-background);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;


    &.active {
        box-shadow: 0 0 10px rgba(89, 143, 240, 0.5);
        transition: 0.4s;
        bottom: 0;
        opacity: 1;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        gap: 4px; 
        p {
            width: 100%;
            text-align: center;
        }
    }
    .proxy-toggle {
        display: flex;
        align-items: center;
        width: 40%;
        gap: 14px;
        cursor: pointer;
    }
}
