#root {
  margin: 0;
  max-width: 100%;
  text-align: center;
  box-sizing: border-box;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
}

.app-wrapper.light {
  --background-color: #eaeaea;
  --text-color: #080808;
  --input-background: rgba(198, 198, 198, 0.1);
  --input-border: 1px solid rgba(191, 191, 191, 0.5);
  --input-focus-background: rgba(229, 229, 229, 0.1);
  --input-focus-border: rgba(0, 0, 0, 0.5);
  --light-border: 1px solid rgba(8, 8, 8, 0.4);
  --setup-background: #efefeff5;
  --setup-border: 1px solid rgba(8, 8, 8, 0.24);
  --gemini-font-color: linear-gradient(60deg, #598FF0, #096EFF);
  --text-color-white: #ffffff;
}

.app-wrapper {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: 0.4s;
}

input, textarea {
  width: 100%;
  background-color: var(--input-background);
  color: var(--text-color);
  padding: 18px 24px;
  border: var(--input-border);
  border-radius: 99em;
  transition: background-color 0.3s, border-color 0.3s, opacity 0.4s;
  box-sizing: border-box;

  &:focus {
    outline: none;
    background-color: var(--input-focus-background);
    border-color: var(--input-focus-border);
  }
}
